{{ define "pipeline_gas_content" }}
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <div class="card-body py-5 text-center">
        <i class="mdi mdi-gas-cylinder mdi-48px text-muted mb-3"></i>
        <h4>Pipeline Gas</h4>
        <p class="text-muted mb-0">Coming soon. The structure is registered, but formulas are not implemented until engineering formulas are provided.</p>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ template "layouts/master" . }}
